<% layout('LAYOUTS/boilerplate.ejs') %>
<style>
    footer {
        background-color: #f8f9fa;
        padding: 10px 0;
       
        bottom: 0;
        width: 100%;
        /* background: linear-gradient(to right, #1c92d2, #f2fcfe); */
        background: #c0e8ff;
        box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.1);
        color: #333;
        
    }
    footer p {
        margin: 0;
        color: black;
    }
</style>

    <footer style="margin-top: auto;">
    <div class="text-center p-3">
        © 2025 Syllabite. All rights reserved.
        
    </div>
</footer>

