<% layout('LAYOUTS/boilerplate.ejs') %>

<body>
    <%- include('../INCLUDES/navbar.ejs') %>

    <div class="container mt-5 mb-2" >
        <h2 class="text-center"><b>ABOUT</b></h2>
        <p class="text-center para" style="font-size: large; color: black;">Syllabite is a small project I’ve built to make learning a little easier and more organized. I’m really grateful to the people who helped me by sharing YouTube links, references, and other resources — without their support, this wouldn’t have been possible. I hope as you explore the platform, you find it helpful and enjoy the content they helped me gather.</p>
    </div>

    <div class="container mb-5">
        <div class="row mt-3 justify-content-center">
           
            <div class="card cd-1 m-3 text-center col-9 col-sm-5 col-md-2" style="background-color:white; border: none;">
                <img src="/IMAGES/contributor4.jpg" class="card-img-top mt-2 mb-2"  alt="..." style="height: 18rem;">
                <div class="card-body cdb-1 mt-2 mb-3">
                    <p class="card-text">ARUNESWAR REDDY<br>ECE </p>
                    
                </div>
                <div class="mb-3" style="font-size:x-large;">
                    <a href="https://www.linkedin.com/in/arun2601"><img src="IMAGES/linkedin-svgrepo-com.svg" style="height: 1.75rem; width: 1.75rem;"></a>
                    <a href="https://www.instagram.com/a_run_2601/?next=%2F"><img class="ms-2" src="IMAGES/instagram-1-svgrepo-com.svg" style="height: 1.75rem; width: 1.75rem;"></a>
                </div>

            </div>
        </div>
    </div>



    <%- include('../INCLUDES/footer.ejs') %>
</body>