<% layout('LAYOUTS/boilerplate.ejs') %>

<body>
    <%- include('../INCLUDES/navbar.ejs') %>
    
    <div class="container">
        <div class="container">
            <div class="container inner-10 rad mt-5 mb-5" style="background-color: white;">
            <div class="row row-20 justify-content-center" style="background:linear-gradient(to right,#d4fcf4, #8ed6ff); height: 2.5rem; font-size: 1.5rem;">
                Student Clubs
            </div>
            <div class="row justify-content-center">
                <div class="card cd-20 m-3 text-center col-9 col-sm-5 col-md-2" >
                    <img src="/IMAGES/ai_club_nitc_logo.jpeg"class="card-img-top cdimgtp-1 mt-2" alt="...">
                    <div class="card-body" >
                        <p class="card-text crdtxt-50" >The Artificial Intelligence Club is a collaborative platform that brings together students, teachers, and professionals interested in exploring and promoting innovative AI-based technologies.
                            <!-- Button trigger modal -->
                            
                        </p>
                        <button type="button" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="width: 100%; background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">
                                See More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel1">Artificial Intelligence Club</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: start;">
                                            
                                                The Artificial Intelligence Club is a collaborative platform that brings together students, teachers, and professionals interested in exploring and promoting innovative AI-based technologies.
                                                The club provides opportunities for learning, discussing, and working on AI-related projects and research, enabling members to stay updated with the latest trends and developments in the field.
                                                Through workshops, seminars, and competitions, the club fosters a community of AI enthusiasts, encouraging collaboration, networking, and knowledge-sharing among its members.
                                                The club actively engages with industry professionals, researchers, and experts in AI, aiming to contribute to the advancement of AI knowledge and tackle real-world issues in areas such as autonomous driving, drones, healthcare, and more.
                                            
                                        
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-bs-dismiss="modal" style=" background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    
                </div>
                <div class="card  cd-20 m-3 text-center col-9 col-sm-5 col-md-2" >
                    <img src="/IMAGES/aero_unwired.jpeg" class="card-img-top cdimgtp-1 mt-2" alt="...">
                    <div class="card-body">
                        <p class="card-text crdtxt-50" >AeroUnwired is an aero-modelling club, a branch of Club Unwired, founded by NIT Calicut students who aspire to harness the knowledge of flight.
                            
                        </p>
                        <button type="button" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="width: 100%; background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">
                                See More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel2">AeroUnwired</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: start;">
                                        
                                            AeroUnwired is an aero-modelling club, a branch of Club Unwired, founded by NIT Calicut students who aspire to harness the knowledge of flight.
                                            Inspired by the magnificent creatures with wings and their technical aspects, this club puts effort into building aircraft and studying the science of flight.
                                            The club offers knowledge to those who seek and invest their time in innovation. With a classic workspace and supportive faculty members and seniors, this club welcomes all those who wish to learn.
                                            
                                        
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-bs-dismiss="modal" style=" background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    
                </div>
                <div class="card  cd-20 m-3 text-center col-9 col-sm-5 col-md-2" >
                    <img src="/IMAGES/foss_cell_nitc_logo.jpeg" class="card-img-top cdimgtp-1 mt-2" alt="...">
                    <div class="card-body">
                        <p class="card-text crdtxt-50">FOSS-NITC is a vibrant community at the National Institute of Technology Calicut dedicated to promoting and contributing to the Free and Open Source Software (FOSS) community.
                            
                        </p>
                        <button type="button" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal3" style="width: 100%; background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">
                                See More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel3">FOSS-NITC</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: start;">
                                        
                                            FOSS-NITC is a vibrant community at the National Institute of Technology Calicut dedicated to promoting and contributing to the Free and Open Source Software (FOSS) community.
                                            Comprising passionate students and faculty, FOSS-NITC works to promote free and open-source technology tools and develop software that respects user freedom.
                                            The community fosters an inclusive culture on campus by facilitating robust discussions on open source, the latest technology trends, and topics related to digital freedom.
                                            FOSS-NITC invites individuals interested in music production using Ableton Live and other open-source enthusiasts to join and connect with like-minded individuals within the community.
                                        
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-bs-dismiss="modal" style=" background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card cd-20 m-3 text-center col-9 col-sm-5 col-md-2" >
                    <img src="/IMAGES/gdscclub.png" class="card-img-top cdimgtp-1 mt-2" alt="...">
                    <div class="card-body">
                        <p class="card-text crdtxt-50">GDG NITC is a student-led developer community dedicated to building real-world tech solutions for the NIT Calicut campus.
                            
                        </p>
                        <button type="button" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal4" style="width: 100%; background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">
                                See More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel4">GDG NITC (Google Developer Group – NIT Calicut)</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: start;">
                                        
                                            GDG NITC is a student-led developer community dedicated to building real-world tech solutions for the NIT Calicut campus.
                                            The group actively develops websites, mobile applications, and tools that address practical campus needs and improve day-to-day experiences for students and faculty.
                                            GDG NITC fosters a strong learning culture, regularly conducting upskilling workshops and tech talks. Members are deeply involved in hands-on projects and continuously enhance their skills.
                                        
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-bs-dismiss="modal" style=" background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card cd-20 m-3 text-center col-9 col-sm-5 col-md-2" >
                    <img src="/IMAGES/ieee_sb_nitc_logo.jpeg" class="card-img-top cdimgtp-1 mt-2" alt="...">
                    <div class="card-body">
                        <p class="card-text crdtxt-50">A group of enthusiastic students who are passionate about technology and innovation. Our aim is to foster technical skills, knowledge sharing, and professional development among our members.
                            
                        </p>
                        <button type="button" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal5" style="width: 100%; background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">
                                See More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel5">IEEE SB NITC</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: start;">
                                        
                                            A group of enthusiastic students who are passionate about technology and innovation. Our aim is to foster technical skills, knowledge sharing, and professional development among our members.
                                            Through various events, workshops, and projects, we strive to create a vibrant community that encourages collaboration and learning in the field of engineering. Join us and become a part of our journey towards exploring and shaping the future of technology!
                                        
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-bs-dismiss="modal" style=" background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card cd-20 m-3 text-center col-9 col-sm-5 col-md-2" >
                    <img src="/IMAGES/rignitc_logo.jpeg" class="card-img-top cdimgtp-1 mt-2" alt="...">
                    <div class="card-body">
                        <p class="card-text crdtxt-50">Robotics Interest Group (RIG) was formed out of a passion for robotics, to facilitate learning and research in the areas of Mechatronics/Robotics and Intelligent Systems, Automation, Advanced Control Systems, Modeling and Simulation, and Sensors & Algorithms.
                            
                        </p>
                        <button type="button" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal6" style="width: 100%; background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">
                                See More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel6">Robotics Interest Group (RIG)</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: start;">
                                        
                                            Robotics Interest Group (RIG) was formed out of a passion for robotics, to facilitate learning and research in the areas of Mechatronics/Robotics and Intelligent Systems, Automation, Advanced Control Systems, Modeling and Simulation, and Sensors & Algorithms.
                                            Our aim is to acquire knowledge and appropriate hands-on experience in order to meet the needs of these rapidly changing technologies and provide services to industry for promoting new technologies as well as designing and manufacturing commercially viable products, for the development of our country.
                                        
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-bs-dismiss="modal" style=" background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card cd-20 m-3 text-center col-9 col-sm-5 col-md-2" >
                    <img src="/IMAGES/team_unwired_logo.jpeg" class="card-img-top cdimgtp-1 mt-2" alt="...">
                    <div class="card-body">
                        <p class="card-text crdtxt-50">Team Unwired, a student-driven club at the National Institute of Technology Calicut, is dedicated to promoting practical engineering experiences through project-based learning and competitive participation.
                        </p>
                        <button type="button" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal7" style="width: 100%; background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">
                                See More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel7" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel7">Team Unwired</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: start;">
                                        
                                            Team Unwired, a student-driven club at the National Institute of Technology Calicut, is dedicated to promoting practical engineering experiences through project-based learning and competitive participation.
                                            By championing hands-on initiatives, the club aims to supplement classroom learning, solidify fundamental knowledge, and cultivate valuable skills that empower students for future success.
                                            In our technical club, we believe that the synergy of teamwork and collaboration is the catalyst for innovation, propelling us to new heights in engineering excellence.
                                            Team Unwired proudly secured the Overall 16th Position in the prestigious SAE SUPRA 2024 competition.
                                        
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-bs-dismiss="modal" style=" background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                
                </div>
                <div class="card cd-20 m-3 text-center col-9 col-sm-5 col-md-2" >
                    <img src="/IMAGES/club_mathematica.webp" class="card-img-top cdimgtp-1 mt-2" alt="...">
                    <div class="card-body">
                        <p class="card-text crdtxt-50">Club Mathematica is one among the most prestigious and actively functioning clubs of National Institute of Technology Calicut. From its very beginning in the early 2000s, Club Mathematica has aimed to provide students the platform to develop their critical thinking abilities, logical reasoning power, out of box thinking and thereby help them grow beyond academics in all senses.
                            
                        </p>
                        <button type="button" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal8" style="width: 100%; background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">
                                See More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel8">Club Mathematica</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: start;">
                                        
                                            Club Mathematica is one among the most prestigious and actively functioning clubs of National Institute of Technology Calicut. From its very beginning in the early 2000s, Club Mathematica has aimed to provide students the platform to develop their critical thinking abilities, logical reasoning power, out of box thinking and thereby help them grow beyond academics in all senses.
                                            Club Mathematica is well known for its annual quizzing event Infinitum which is conducted for school students across Kerala, Telangana, Andhra Pradesh and GCC where the logical and reasoning skills of young minds are assessed.
                                            Moreover, the club conducts CAT, GATE and GMAT mock exams for the graduating students on a regular basis. In addition to the competitive exams, the club has proven its ingenious work at all times, including Technical Week for first years.
                                        
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-bs-dismiss="modal" style=" background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card cd-20 m-3 text-center col-9 col-sm-5 col-md-2" >
                    <img src="/IMAGES/literary_debating_club_nitc_logo.jpeg" class="card-img-top cdimgtp-1 mt-2" alt="...">
                    <div class="card-body">
                        <p class="card-text crdtxt-50">The Literary & Debating Club of NIT Calicut (National Institute of Technology Calicut) is one of the oldest and the most prestigious clubs of NIT-C.
                            
                        </p>
                        <button type="button" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal9" style="width: 100%; background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">
                                See More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel9" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel9">The Literary & Debating Club, NITC</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: start;">
                                        
                                            The Literary & Debating Club of NIT Calicut (National Institute of Technology Calicut) is one of the oldest and the most prestigious clubs of NIT-C. Ever since its birth in the REC times, the club has taken up the mantle of providing the students a rostrum to flaunt their belletristic, oratory and expressive genius. Kindled by the passion for the world of literature, the club is a stage to express, enunciate and extemporize. Through the years, we have been striving persistently to spread our expense in close accordance with our rule of thumb, 'Deeds not Words'. Organizing competitions in extempore, elocution, debates, quizzes and so much more has helped the club live up to and beyond the expectations for which it was set up.
                                        
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-bs-dismiss="modal" style=" background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card cd-20 m-3 text-center col-9 col-sm-5 col-md-2" >
                <img src="/IMAGES/adventure_club.jpeg" class="card-img-top cdimgtp-1 mt-2" alt="...">
                    
                    <div class="card-body">
                        <p class="card-text crdtxt-50">The Adventure Club NITC, better known as TAC, is one of the prominent clubs of National Institute of Technology, Calicut. We have come a long way and has conducted many enthralling events like Road to Tathva, Adrenaline etc.
                            
                        </p>
                        <button type="button" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal10" style="width: 100%; background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">
                                See More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel10" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel10">The Adventure Club NITC</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: start;">
                                        
                                            The Adventure Club NITC, better known as TAC, is one of the prominent clubs of National Institute of Technology, Calicut. We have come a long way and has conducted many enthralling events like Road to Tathva, Adrenaline etc. Even during the tough pandemic situation, the club overcame the challenges by conducting various interesting online events like Fan Fight and Country Bluff where the participants had a great and wonderful time, evident from the overwhelming responses received. The club maintains its energetic and zestful nature always and throughout its journey. Come and venture out into the world of adventure and get lost into the realm of TAC.
                                        
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-bs-dismiss="modal" style=" background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card cd-20 m-3 text-center col-9 col-sm-5 col-md-2" >
                    <img src="/IMAGES/cybersec.png" class="card-img-top cdimgtp-1 mt-2" alt="...">
                    <div class="card-body">
                        <p class="card-text crdtxt-50">Our Cybersecurity Club at NIT Calicut is a dynamic community of tech enthusiasts passionate about ethical hacking, digital forensics, and cyber defense.
                            
                        </p>
                        <button type="button" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal11" style="width: 100%; background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">
                                See More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel11" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel11">Cybersecurity Club NITC</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: start;">
                                        
                                            Our Cybersecurity Club at NIT Calicut is a dynamic community of tech enthusiasts passionate about ethical hacking, digital forensics, and cyber defense. We focus on hands-on learning, engaging workshops, CTF challenges, and expert talks to sharpen cybersecurity skills. Whether you’re a beginner or an experienced hacker, our club provides a platform to explore real-world security challenges, collaborate with like-minded peers, and stay ahead in the ever-evolving world of cybersecurity.
                                        
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-bs-dismiss="modal" style=" background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card cd-20 m-3 text-center col-9 col-sm-5 col-md-2" >
                    <img src="/IMAGES/strategix.jpeg" class="card-img-top cdimgtp-1 mt-2" alt="...">
                    <div class="card-body">
                        <p class="card-text crdtxt-50">Strategix is the official business and strategy club of NIT Calicut, fostering problem-solving, critical thinking, and innovation through case studies, competitions, and workshops. We empower students to explore the intersections of technology, business, and strategy.
                            
                        </p>
                        <button type="button" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal12" style="width: 100%; background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">
                                See More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel12" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel12">Strategix NIT Calicut</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: start;">
                                        
                                            Strategix is the official business and strategy club of NIT Calicut, fostering problem-solving, critical thinking, and innovation through case studies, competitions, and workshops. We empower students to explore the intersections of technology, business, and strategy.
                                        
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-bs-dismiss="modal" style=" background: linear-gradient(to right, #d4fcf4, #8ed6ff); color: black;">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


    <%- include('../INCLUDES/footer.ejs') %>
</body>
